
<h1>colours and nouns pro</h1>

<p>your random noun is <b><%= @random_noun %></b>, why not pick a lovely colour from below to go with it?</p>

<div class="container" id="colours">
  <%= button_to "",{},{class: "colour",params: {noun: @random_noun, colour: "red"},id: "red"}%>
  <%= button_to "",{},{class: "colour",params: {noun: @random_noun, colour: "pink"},id: "pink"}%>
  <%= button_to "",{},{class: "colour",params: {noun: @random_noun, colour: "orange"},id: "orange"}%>
  <%= button_to "",{},{class: "colour",params: {noun: @random_noun, colour: "yellow"},id: "yellow"}%>
  <%= button_to "",{},{class: "colour",params: {noun: @random_noun, colour: "green"},id: "green"}%>
  <%= button_to "",{},{class: "colour",params: {noun: @random_noun, colour: "blue"},id: "blue"}%>
  <%= button_to "",{},{class: "colour",params: {noun: @random_noun, colour: "purple"},id: "purple"}%>
</div>

<% if @searches.latest_search %>
  <div class="container" id="images">
    <h2>results for "<%="#{@searches.searches[0].colour} #{@searches.searches[0].noun}"%>"</h2>
    <br>
    <% @searches.latest_search.each do |image| %>
      <%= link_to image_tag(image, class: "image"), image %>
    <% end %>
  </div>
<% end %>

<% if @searches.previous_searches %>
  <div class="container" id="history">
    <table>
      <tr>
        <th>date</th>
        <th>time</th>
        <th>colour</th>
        <th>noun</th>
        <th>response time</th>
        <th></th>
      </tr>
      <% @searches.previous_searches.each do |search| %>
      <tr>
        <td><%= search.date %></td>
        <td><%= search.time %></td>
        <td><%= search.colour %></td>
        <td><%= search.noun %></td>
        <td><%= search.response_time %></td>
        <td><%= button_to "rerun search",{action: "search"},{params: {colour: search.colour, noun: search.noun}}  %>
      </tr>
      <% end %>
    </table>
  </div>
<% end %>
