
<h1>colours and nouns pro</h1>

your random noun is <b><%= @random_noun %></b>, why not pick a lovely colour below to go with it?
<br>

<div id="colours">
  <%= button_to "",{},{class: "colour",id: "red",    params: {noun: @random_noun, colour: "red"}}%>
  <%= button_to "",{},{class: "colour",id: "pink",   params: {noun: @random_noun, colour: "pink"}}%>
  <%= button_to "",{},{class: "colour",id: "orange", params: {noun: @random_noun, colour: "orange"}}%>
  <%= button_to "",{},{class: "colour",id: "yellow", params: {noun: @random_noun, colour: "yellow"}}%>
  <%= button_to "",{},{class: "colour",id: "green",  params: {noun: @random_noun, colour: "green"}}%>
  <%= button_to "",{},{class: "colour",id: "blue",   params: {noun: @random_noun, colour: "blue"}}%>
  <%= button_to "",{},{class: "colour",id: "purple", params: {noun: @random_noun, colour: "purple"}}%>
</div>
