
<h1>colours and nouns pro</h1>

<div id="colours">
  <%= button_to "",{},{:class => "colour",:id => "red"}%>
  <%= button_to "",{},{:class => "colour",:id => "pink"}%>
  <%= button_to "",{},{:class => "colour",:id => "orange"}%>
  <%= button_to "",{},{:class => "colour",:id => "yellow"}%>
  <%= button_to "",{},{:class => "colour",:id => "green"}%>
  <%= button_to "",{},{:class => "colour",:id => "blue"}%>
  <%= button_to "",{},{:class => "colour",:id => "purple"}%>
</div>
